/************content************/
content{
    display: block;
    width: 70%;
    margin: auto;
    margin-top: 150px;
   
}

content board {
    display: table;
    margin: 40px auto;
    padding: 30px;
    border: 1px solid #a5a5a5;
    
    text-align: center;
}

content board welcome{
    display: block;
    margin-bottom: 30px;
    font-size: 1.5em;
   
}

content board input[type="password"]{
    width: 100%;
    margin: 10px 0px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 1.2em;
}

content board input[type="submit"]{
    min-width: 100px;
    
}





@media screen and (max-width: 1000px) {
    
content board {
   
    margin: 80px auto;
    width: 90%;
   
}

content board welcome{

    margin-top: 10px;
    margin-bottom: 40px;
}    
    
content board input[type="password"]{
        
    margin-bottom: 50px;
        
    }  

content board input[type="submit"]{
    min-width: 50%;
    
}    
    
}